.tagline {
  color: $gray;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: white;
  margin-left: 40px;
  padding-bottom:5px;
  padding-top: 15px;
  text-align: start;
  padding-left: 11px;
  border-right: 4px #1698D9 solid;
  border-top: 4px #1698D9 solid;
  border-top-right-radius: 12px;
}
